MVCAuthentication/Connected Services/ServiceReference1/ApplicationService.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Data.Entities" />
  <xs:complexType name="ArrayOfBrandDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BrandDTO" nillable="true" type="tns:BrandDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBrandDTO" nillable="true" type="tns:ArrayOfBrandDTO" />
  <xs:complexType name="BrandDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddedFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BrandName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Data.Entities" minOccurs="0" name="Cars" nillable="true" type="q1:ArrayOfCar" />
      <xs:element minOccurs="0" name="CountryOfOrigin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FoundedIn" type="xs:short" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LowestModelPrice" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BrandDTO" nillable="true" type="tns:BrandDTO" />
  <xs:complexType name="ArrayOfCarDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarDTO" nillable="true" type="tns:CarDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarDTO" nillable="true" type="tns:ArrayOfCarDTO" />
  <xs:complexType name="CarDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Brand" nillable="true" type="tns:BrandDTO" />
      <xs:element minOccurs="0" name="BrandId" type="xs:int" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Condition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ManifactureDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Power" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarDTO" nillable="true" type="tns:CarDTO" />
  <xs:complexType name="ArrayOfSaleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SaleDTO" nillable="true" type="tns:SaleDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSaleDTO" nillable="true" type="tns:ArrayOfSaleDTO" />
  <xs:complexType name="SaleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Car" nillable="true" type="tns:CarDTO" />
      <xs:element minOccurs="0" name="CarId" type="xs:int" />
      <xs:element minOccurs="0" name="ClientFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SaleDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SalePrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="SellerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaleDTO" nillable="true" type="tns:SaleDTO" />
</xs:schema>